
.btn {
    margin-top: 15px;
    width: 100%;
    color: $white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
    /*&:hover {
      background-color: lighten(15%)
    }*/
  }
  
  .default {
    background-color: $color-3;
  }
  
  .error {
    background-color: $error;
  }
  
  .info {
    background-color: #927bc1;
  }
  
  .success {
    background-color: #63cc82;
  }
  
  .warning {
    background-color: #fd7856;
  }
  